audio2numpy==0.1.2
boto3==1.40.20
botocore==1.40.20
Brotli==1.1.0
certifi==2023.11.17
charset-normalizer==3.3.2
contourpy==1.2.0
cycler==0.12.1
ffmpeg==1.4
fonttools==4.47.0
idna==3.6
jmespath==1.0.1
kiwisolver==1.4.5
matplotlib==3.8.2
mutagen==1.47.0
neat-python==0.92
numpy==1.26.2
packaging==23.2
pillow==10.2.0
pycryptodomex==3.19.1
pydub==0.25.1
pygame==2.5.2
pyparsing==3.1.1
python-dateutil==2.8.2
pytube==15.0.0
requests==2.31.0
s3transfer==0.13.1
six==1.16.0
urllib3==2.1.0
websockets==12.0
youtube-dl==2021.12.17
yt-dlp==2023.12.30
